.footerWrapper{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    background-color: white !important;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100% !important;

    .icon{
        color: black;
        :hover{
            cursor: pointer;
        }
    }
}