.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1976d2;
    color: white;
    .details{
        min-height: 60%;
        color: black;
        min-width: 50%;
        display: flex;
        background-color: white;
        box-shadow: 1px 2px 5px 1px gray;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        overflow: hidden;
        // height: 100%;
        @media (max-width: 600px) {
            max-width: 90%;
        }
      
        .addEmail{
            display: flex;
            width: 100%;
            align-content: flex-start;
            justify-content: space-between;
            margin: 10px;
        }
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    
                ::-webkit-scrollbar {
                    display: none !important;
                }
                  
        ul{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 !important;
            scrollbar-width: none;
            overflow: auto;
            height:100%;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

            ::-webkit-scrollbar {
                display: none !important;
            }
              
            li{
                display: flex;
                width: 100%;
                align-content: flex-start;
                justify-content: space-between;
                margin: 10px;
               
                h6{
                    @media (max-width: 600px) {
                        font-size: 15px;
                    }
                }
                span{
                    width: 200px;
                    padding:20px;
                    margin: 10px 0;
                }

                #icon{
                    width: 20px;
                    height: 20px;
                    margin: 0 10px;

                    :hover{
                        cursor: pointer;
                        
                    }

                    :active{
                        transform: scale(0.9);

                    }
                }
            }
        }
        .textWrapper{
            display: flex;
            width: 100%;
            padding: 20px;
            align-content: flex-start;
            justify-content: space-between;

            h5{
                @media (max-width: 600px) {
                    font-size: 15px;
                }
            }
            
        }
    }
}

